/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
body {
  margin: 0 auto;
}

/* Header styling voor de navigatiebalk */
header {
  height: 2.5em;
  background-color:#1d1d1f;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  z-index: 60;
}

header a {
  color:#f5f5f7;
  text-decoration:none;
}
/*alle states */
header a:focus {
  background:Lightgrey;
}

header a:active {
  color:red;
}
header a:hover {
  color:grey;
}

header > a:first-of-type {
  padding: 0 .5em 0 .5em;
  z-index: 50;
}
header > a:first-of-type img {
  width: 1em;
}

header > a:nth-of-type(2) {
  display: none;
  padding: 0 .5em 0 .5em;
}

header > a:nth-of-type(2) img {
  width:1.3em;
}

header > a:last-of-type {
  padding: 0 .5em 0 .5em;
}

header > a:last-of-type img{
  width:1em;
}

nav {
  order:-1;
}

nav button {
  z-index: 50;
  height: 0.3em;
  width: 1.7em;
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
}

nav ul {
  margin:0;
  padding:2.5em 0 0 0;
  background-color:#1D1D1F;
  list-style:none;
  position:fixed;
  left:0; right:0; top:0; bottom:0;
  transform:translateY(-100%);
  transition:.5s;
  z-index:10;
}

nav.toonMenu ul {
  transform:translateY(0);
}

header li {
  margin:0; padding:0;
}

header li a {
  display:block;
  padding:1em 0 1em 0;
  border-top:solid 1px #424245;
  font-size: 0.9em;
  margin: 0 2em 0 2em;
}

header li.active a {
  font-weight:bold;
}

header ul li:nth-of-type(1) a {
  margin: 0;
  border-bottom:solid 1px #424245;
  border-top:solid 0px #424245;
}

header ul li:nth-of-type(2) a {
  border-top:solid 0px #424245;
}

header ul li:nth-of-type(1) input{
  width: 95%;
  margin: 0 0.5em 0 0.5em;
  line-height:2.5em;
  padding:0 1em;
  color:#fff;
  background-color:rgb(192,192,192, .2);
  border:1px solid rgb(192,192,192, .2);
  border-radius: .7em;
  outline:none;
  appearance:none;
}

header ul li:nth-of-type(1) input::placeholder{
  color:#6E6E73;
}

header ul li:nth-of-type(1) input[type="search"] {
  position:relative;
  padding:0 1em 0 3em;
  background-image:url("../images/searchicon.svg");
  background-repeat:no-repeat;
  background-size:1.5em auto;
  background-position:.75em center;
  transition:.25s;
}
header ul li:nth-of-type(1) input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position:absolute;
  width: 1em; height: 1em;
  right:.75em;

  background-image:url("../images/cancel.svg");
  background-repeat:no-repeat;
  background-size:1em auto;
  background-position:center center;
  cursor:pointer;
}

/* kruis class die door javascript wordt aangeroepen */
.burger1 {
  top: -0.7em;
  position: absolute;
  background-color: white;
  height: 0.15em;
  width: 1.4em;
  transition: 0.5s;
}

.burger1kruis {
transform: rotate(-50deg); /* rotate om het kruisje te vormen */
position: absolute;
background-color: white;
height: 0.15em;
width: 1.4em;
transition: 0.5s; /* zodat het niet instant is, Lelijk */
top: -0.3em;
}
/* tweede streep van hamburger menu positioneren */
.burger2 {
  top: 0.2em;
  position: absolute;
  background-color: white;
  height: 0.15em;
  width: 1.4em;
  transition: 0.5s;
}
/* kruis class die door javascript wordt aangeroepen */
.burger2kruis {
  transform: rotate(50deg);
  position: absolute;
  background-color: white;
  height: 0.15em;
  width: 1.4em;
  transition: 0.5s;
  top: -0.3em;
}
/* Vanaf hier alle styling voor de sections*/
/* states voor linkjes*/
main .link1 a:focus {
  background:Lightgrey;
}

main .link1 a:active {
  color:red;
}

main .link1 a:hover {
  color:grey;
  text-decoration: underline;
}

main .link2 a:focus {
  background:Lightgrey;
}

main .link2 a:active {
  color:red;
}

main .link2 a:hover {
  color:grey;
  text-decoration: underline;
}

main .appleevent a:focus {
  background:Lightgrey;
}

main .appleevent a:active {
  color:red;
}

main .appleevent a:hover {
  color:grey;
  text-decoration: underline;
}

main .airpods a:focus {
  background:Lightgrey;
}

main .airpods a:active {
  color:red;
}

main .airpods a:hover {
  color:grey;
  text-decoration: underline;
}

main section:first-of-type {
  background-color: #131313;
  height: 25vh;
  width: 100%;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main section:first-of-type h1{
  margin: 0px;
  line-height: 1.125em;
  font-size: 2em;
  color: #f5f5f7;
  font-weight: 600;
  letter-spacing: .004em;
}

main section:first-of-type h2{
  margin: 0;
  line-height: 1.4211em;
  font-size: 1.1em;
  color: white;
  color: #f5f5f7;
  font-weight: 400;
  letter-spacing: .012em;
  width: 60%;
}

main section:first-of-type p{
 margin-top: 0.4em;
 margin-left: auto;
 margin-right: auto;
 color: #86868b;
 font-size: 0.9em;
 line-height: 1.42859;
 font-weight: 400;
 letter-spacing: -.016em;
}

main section:first-of-type a{
  color: #2997ff;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
}

.linkjes {
  display: flex;
  width: 100%;
}

.link1 {
  flex: 1;
}

.link2 {
  flex: 1;
}

.link2 a {
  float: left;
  padding-left: 2em;
}

.link1 a {
  float: right;
}

.fotos{
  background-color: #131313;
}

.fotos img:first-of-type{
  width: 100%;
  height: auto;
  max-width: 40em;
  display: block;
  margin: 0 auto;
}

.fotos img:nth-of-type(2){
  width: 100%;
  height: auto;
  max-width: 40em;
  display: block;
  margin: 0 auto;
  display: none;
}

main section:nth-of-type(2) {
  background-color: #fafafa;
  height: 25vh;
  width: 100%;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main section:nth-of-type(2) h1{
  margin: 0px;
  line-height: 1.125em;
  font-size: 2em;
  color: #1d1d1f;
  font-weight: 600;
  letter-spacing: .004em;
}

main section:nth-of-type(2) h2{
  display: block;
  margin: 0;
  line-height: 1.4211em;
  font-size: 1.1em;
  color: white;
  color: #1d1d1f;
  font-weight: 400;
  letter-spacing: .012em;
}

main section:nth-of-type(2) p{
 margin-top: 0.4em;
 margin-left: auto;
 margin-right: auto;
 color: #86868b;
 font-size: 0.9em;
 line-height: 1.42859;
 font-weight: 400;
 letter-spacing: -.016em;
}

main section:nth-of-type(2) a{
  color: #2997ff;
  text-decoration: none;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
}

main section:nth-of-type(3) {

}

main section:nth-of-type(3) img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* Hier maak ik de twee flexable boxen aan */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background-color: #fafafa;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.appleevent {
  background-color: #fafafa;
  height: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 9;
}
/* content in de eerste box */
.appleevent h1 {
  margin-bottom: 0.1em;
  color: #1D326C;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: .002em;
}

.appleevent h2 {
  margin-top: 0.1em;
  color: #1D326C;
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
  max-width: 12em;
}

.appleevent a {
  color: #2997ff;
  text-decoration: none;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
}

.column1 figure {
  margin: 0;
}

.column2 figure {
  margin: 0;
}
/* content in de eerste box */
.column1 img {
  width: 100%;
  height: auto;
  display: block;
  margin: -10px auto;
}

.column2 img {
  width: 100%;
  height: auto;
  display: block;
  margin: -10px auto;
}

.airpods {
  margin-top: 0.1em;
  background-color: #f1f1f3;
  height: 3.6em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 9;
}

.airpods h1 {
    color: black;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
    max-width: 8em;
}

.airpods a {
  color: #2997ff;
  text-decoration: none;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
}
/* Vanaf hier alle styling voor de footer */
 footer{
 color: #515154;
 background-color: #f5f5f7;
 margin: 0 auto;
}

footer ul.sitemap {
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

footer li {
  margin: 0;
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

footer p {
  font-size: 0.8em;
}

.collapsible {
  color: black;
  cursor: pointer;
  padding: 1em 0 1em 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.8em;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2715';
}

.content {
  padding: 0 0.5em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border-bottom: 1px solid #d2d2d7;
}

.content a {
  display: block;
  font-size: 0.75em;
  text-decoration: none;
  color:#515154;
  padding: 0.5em 0 0.5em 0;
}

footer > p {
  font-size: 0.8em;
  padding: 0em 1em;
}

footer > a {
  font-size: 0.8em;
  padding: 0em 1em;
  color: #515154;
  text-decoration: none;
}

footer ul.legal {
  flex-wrap: wrap;
  display: flex;
  grid-row-start: 3;
  padding: 0em 0em 0em 1em;
}

footer ul.legal li {
  font-size: 0.8em;
  padding-right: 0.7em;
  padding-left: 0;
}

footer .footerpc {
  display: none;
}

@media screen and (min-width: 736px) {
  /* Alle styling voor schermen vanaf 736px */
  /* Navigatie voor pc styling */
  header {
    justify-content:center;
  }

  nav {
    order:0;
  }

  nav button {
    display:none;
  }

  nav ul {
    position:relative;
    padding:0;
    transform:none;
    background:none;
    display:flex;
  }

  nav a {
    border:none;
  }

  header > a:nth-of-type(2) {
    display: flex;
    padding: 0 .5em 0 .5em;
  }

  header li a {
    display:block;
    padding:1em 1em 1em 1em;
    background-size:auto 2em;
    background-position:1em center;
    background-repeat:no-repeat;
    border-top:solid 1px #424245;
    font-size: 0.9em;
    margin: 0 .7em 0 .7em;
  }

  nav ul li:nth-of-type(1){
    display: none;
  }
  /* flexbox groter scherm */
  .wrapper {
    margin: 1em;
  }

  .column1 {
    flex: 1;
    margin-right: 1em;
  }

  .column2 {
    flex: 1;
    margin-right: 1em;
  }

  .airpods {
    height: 0.8em;
  }
  /* Eerste foto verwisselen voor groter scherm */
  .fotos img:first-of-type{
    display: none;
  }

  .fotos img:nth-of-type(2){
    display: block;
  }
  /* Footer styling groter scherm */
  footer .footerpc a:focus {
    background:Lightgrey;
  }

  footer .footerpc a:active {
    color:red;
  }

  footer .footerpc a:hover {
    color:grey;
    text-decoration: underline;
  }
  footer a:focus {
    background:Lightgrey;
  }

  footer a:active {
    color:red;
  }

  footer a:hover {
    color:grey;
    text-decoration: underline;
  }

  footer {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr max-content;
  }

  footer ul.sitemap {
    grid-column: 1 / -1;
  }

  footer > p {
    padding: 1em 0;
    border-bottom: solid 1px #515154;
    grid-column: 1 / -1;
  }

  footer p.copyright {
    grid-column: 1 / 2;
    grid-row-start: 3;
  }

  footer > a {
    grid-column: 2 / 3;
  }

  footer ul.legal {
    flex-wrap: wrap;
    display: flex;
    grid-row-start: 3;
    margin: 0;
    padding: 0em;
  }
  /* footer responsive */
  footer .footerpc {
    grid-column: 1 / -1;
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
  }

  footer .footerpc ul {
    list-style: none;
  }

  footer .footerpc ul:first-of-type {
    padding-left: 0;
  }

  footer .footerpc li {
    padding: 0;
   margin-bottom: .8em;
  }

  footer .footerpc p {
    font-size: 12px;
    line-height: 1.33337;
    letter-spacing: -.01em;
    font-weight: 600;
    margin-top: 3em;
    margin-right: 20px;
    margin-bottom: .8em;
  }

  footer .footerpc a {
    color: #515154;
    text-decoration: none;
    font-size: 12px;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
  }

  footer ul.sitemap {
    display: none;
  }
}
