/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
body {

  margin: 0 auto;
}
header {
  position: sticky;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  margin: 0;
  z-index: 100;
}

header ul:first-of-type {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5em;
}

header ul li:first-of-type {
  margin-left: -2em;
}

header ul li:nth-of-type(2){
  color: white;
  list-style-type: none;
}

header ul li:nth-of-type(3){
  color: white;
  list-style-type: none;
  margin: 0 0.7em 0em 0em;
}

header ul li {
  color: white;
  list-style-type: none;
}

header ul li:first-of-type img {
  width: 2.5em;
  border-radius: 50%;
}

header ul li:nth-of-type(2) img {
  width: 1.2em;
}

header ul li:nth-of-type(3) img {
  width: 1.2em;
}



/* hamburger menu met transform naar kruis */

#hamburgermenu {
  z-index: 50;
  height: 0.3em;
  width: 1.7em;
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
}

/* eerste streep van hamburger menu positioneren */

.burger1 {
  top: -0.7em;
  position: absolute;
  background-color: white;
  height: 0.15em;
  width: 1.4em;
  transition: 0.5s;

}
/* kruis class die door javascript wordt aangeroepen */
.burger1kruis {
transform: rotate(-50deg); /* rotate om het kruisje te vormen */
position: absolute;
background-color: white;
height: 0.15em;
width: 1.4em;
transition: 0.5s; /* zodat het niet instant is, Lelijk */
top: -0.3em;

}
/* tweede streep van hamburger menu positioneren */
.burger2 {
  top: 0.2em;
  position: absolute;
  background-color: white;
  height: 0.15em;
  width: 1.4em;
  transition: 0.5s;
}
/* kruis class die door javascript wordt aangeroepen */
.burger2kruis {
  transform: rotate(50deg);
  position: absolute;
  background-color: white;
  height: 0.15em;
  width: 1.4em;
  transition: 0.5s;
  top: -0.3em;
}
/* klapmenu aanmaken */
.klapmenuweg {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000010;
  transition: .2s;
  transform: translateY(-100%);
}

.klapmenuzien {
  transition: .2s;
  background-color: #000000;
  transform: translateY(2.5em);
}



main section:first-of-type {
  background-color: #131313;
  height: 25vh;
  width: 100%;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main section:first-of-type h1{
  margin: 0px;
  line-height: 1.125em;
  font-size: 2em;
  color: #f5f5f7;
  font-weight: 600;
  letter-spacing: .004em;
}
main section:first-of-type h2{
  margin: 0;
  line-height: 1.4211em;
  font-size: 1.1em;
  color: white;
  color: #f5f5f7;
  font-weight: 400;
  letter-spacing: .012em;
  width: 60%;
}
main section:first-of-type p{
 margin-top: 0.4em;
 margin-left: auto;
 margin-right: auto;
 color: #86868b;
 font-size: 0.9em;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
}

main section:first-of-type a{
  color: #2997ff;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
}

.fotos{
  background-color: #131313;
}
.fotos img:first-of-type{
  width: 100%;
  height: auto;
  max-width: 40em;
  display: block;
  margin: 0 auto;
}

.fotos img:nth-of-type(2){
  width: 100%;
  height: auto;
  max-width: 40em;
  display: block;
  margin: 0 auto;
  display: none;
}
main section:nth-of-type(2) {
  background-color: #fafafa;
  height: 25vh;
  width: 100%;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main section:nth-of-type(2) h1{
  margin: 0px;
  line-height: 1.125em;
  font-size: 2em;
  color: #1d1d1f;
  font-weight: 600;
  letter-spacing: .004em;
}
main section:nth-of-type(2) h2{
  display: block;
  margin: 0;
  line-height: 1.4211em;
  font-size: 1.1em;
  color: white;
  color: #1d1d1f;
  font-weight: 400;
  letter-spacing: .012em;
}
main section:nth-of-type(2) p{
 margin-top: 0.4em;
 margin-left: auto;
 margin-right: auto;
 color: #86868b;
 font-size: 0.9em;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -.016em;
}

main section:nth-of-type(2) a{
  color: #2997ff;
  text-decoration: none;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
}
main section:nth-of-type(3) {

}
main section:nth-of-type(3) img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Hier maak ik de twee flexable boxen aan */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.appleevent {
  background-color: #fafafa;
  height: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 90;
}
/* content in de eerste box */
.appleevent h1 {
  margin-bottom: 0.1em;
  color: #1D326C;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: .002em;
}
.appleevent h2 {
  margin-top: 0.1em;
  color: #1D326C;
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
  max-width: 12em;
}
.appleevent a {
  color: #2997ff;
  text-decoration: none;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
}
.column1 figure {
  margin: 0;
}
.column2 figure {
  margin: 0;
}
/* content in de eerste box */
.column1 img {
  width: 100%;
  height: auto;
  display: block;
  margin: -10px auto;
}
.column2 img {
  width: 100%;
  height: auto;
  display: block;
  margin: -10px auto;
}

.airpods {
  margin-top: 0.1em;
  background-color: #f1f1f3;
  height: 3.6em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 90;
}

.airpods h1 {
    color: black;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
    max-width: 8em;
}

.airpods a {
  color: #2997ff;
  text-decoration: none;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
}
/* header ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header ul li:first-of-type {
  margin-left: -2em;
  list-style-type: none;
}

header ul li:nth-of-type(2){
  color: white;
  list-style-type: none;
}
*/
 footer{
 margin: 0 auto;
}

footer ul {
  background-color: #f5f5f7;
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

footer li {
  margin: 0;
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

footer p {
  font-size: 0.8em;
}
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_symbol */
/* ik heb het natuurlijk wel zelf vormgegeven */
.collapsible {
  color: black;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9em;
  border-bottom: 1px solid #d2d2d7;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #d2d2d7;
}
/* tot hier */
.content a {
  padding: 0.5em 0.9em;
  display: block;
  font-size: 0.9em;
  text-decoration: none;
}

@media screen and (min-width: 736px) {
  .wrapper {
    margin: 1em;
  }
  .column1 {
    flex: 1;
    margin-right: 1em;
  }
  .column2 {
    flex: 1;
    margin-right: 1em;
  }
  .airpods {
    height: 0.8em;
  }
  .fotos img:first-of-type{
    display: none;
  }

  .fotos img:nth-of-type(2){

    display: block;
  }
}
