/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}
body {

  margin: 0 auto;
}
header {
  position: sticky;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  margin: 0;
  z-index: 10;
}

header ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5em;
}

header ul li:first-of-type {
  margin-left: -2em;
}

header ul li:nth-of-type(2){
  color: white;
  list-style-type: none;
}

header ul li:nth-of-type(3){
  color: white;
  list-style-type: none;
  margin: 0 0.7em 0em 0em;
}

header ul li {
  color: white;
  list-style-type: none;
}

header ul li:first-of-type img {
  width: 2.5em;
  border-radius: 50%;
}

header ul li:nth-of-type(2) img {
  width: 1.2em;
}

header ul li:nth-of-type(3) img {
  width: 5.6em;
}

/* hamburger menu met transform naar kruis */

#hamburgermenu {
  z-index: 50;
  height: 0.3em;
  width: 1.7em;
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
}

/* eerste streep van hamburger menu positioneren */

.burger1 {
  top: -0.7em;
  position: absolute;
  background-color: white;
  height: 0.15em;
  width: 1.4em;
  transition: 0.5s;

}
/* kruis class die door javascript wordt aangeroepen */
.burger1kruis {
transform: rotate(-50deg); /* rotate om het kruisje te vormen */
position: absolute;
background-color: white;
height: 0.15em;
width: 1.4em;
transition: 0.5s; /* zodat het niet instant is, Lelijk */
top: -0.3em;

}
/* tweede streep van hamburger menu positioneren */
.burger2 {
  top: 0.2em;
  position: absolute;
  background-color: white;
  height: 0.15em;
  width: 1.4em;
  transition: 0.5s;
}
/* kruis class die door javascript wordt aangeroepen */
.burger2kruis {
  transform: rotate(50deg);
  position: absolute;
  background-color: white;
  height: 0.15em;
  width: 1.4em;
  transition: 0.5s;
  top: -0.3em;
}

main section:first-of-type {
  background-color: #131313;
  height: 25vh;
  width: 100%;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main section:first-of-type h2{
  margin: 0px;
  line-height: 1.125em;
  font-size: 2em;
  color: #f5f5f7;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 600;
  letter-spacing: .004em;
}
main section:first-of-type h3{
  margin: 0;
  line-height: 1.4211em;
  font-size: 1.1em;
  color: white;
  color: #f5f5f7;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  letter-spacing: .012em;
  width: 60%;
}
main section:first-of-type p{
 margin-top: 0.4em;
 margin-left: auto;
 margin-right: auto;
 color: #86868b;
 font-size: 0.9em;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

main section:first-of-type a{
  color: #2997ff;
  text-decoration: none;
  font-size: 1.1em;

    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


main section:nth-of-type(2) img{
  width: 100%;
  height: 40vh;
}
main section:nth-of-type(3) {
  background-color: #fafafa;
  height: 25vh;
  width: 100%;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main section:nth-of-type(3) h2{
  margin: 0px;
  line-height: 1.125em;
  font-size: 2em;
  color: #1d1d1f;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 600;
  letter-spacing: .004em;
}
main section:nth-of-type(3) h3{
  display: block;
  margin: 0;
  line-height: 1.4211em;
  font-size: 1.1em;
  color: white;
  color: #1d1d1f;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  letter-spacing: .012em;
}
main section:nth-of-type(3) p{
 margin-top: 0.4em;
 margin-left: auto;
 margin-right: auto;
 color: #86868b;
 font-size: 0.9em;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -.016em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

main section:nth-of-type(3) a{
  color: #2997ff;
  text-decoration: none;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
main section:nth-of-type(4) img{
  width: 100%;
  height: 25vh;
}

.column {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.column section:nth-of-type(1) {
  height: 25vh;
  width: 100%;
  padding-top: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.column section:nth-of-type(2) {
  height: 25vh;
  width: 100%;
  padding-top: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;:
}
